/* ------- FONTS ------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('grid.css');
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
.menu {
    font-family: 'Squada One', cursive;
    margin: 0;
    padding: 0;
    top: 0;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input:read-only {
    background-color: #c5c5c5;
    cursor: not-allowed;
}

input,
textarea,
select {
    font-family: 'Roboto', sans-serif;
}


/* ------- MENU ------- */

.menu {
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: fixed;
}

.menu-logo {
    width: 180px;
}

.menu-itens {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 22px;
}

.menu-itens li {
    margin-right: 32px;
    padding: 0;
}

.menu-itens a {
    text-decoration: none;
    color: #333333;
}

.menu-itens a:hover {
    opacity: 0.8;
}

.menu-itens a.current {
    text-decoration: underline;
}

.profile {
    width: 30px;
    vertical-align: -5px;
}


/* ------ FOOTER --------*/

footer {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    background: #333;
    padding: 16px 32px;
    color: white;
}

footer h4 {
    font-size: 24px;
    text-align: center;
}

.icons {
    background-color: white;
    border-radius: 22px;
    display: block;
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-left: 16px;
    position: relative;
    cursor: pointer;
}

.icons i {
    color: #333;
    position: absolute;
    top: 8px;
    left: 9.5px;
}

.footer-logo {
    width: 120px;
}


/* ------- DIVISOR ---------- */

.divisor {
    width: 80px;
    height: 3px;
    display: block;
    background-color: white;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}


/* ------- CLASSES ---------- */

.titulo {
    font-weight: normal;
    font-size: 75px;
    color: #000000;
    margin-bottom: 16px;
    line-height: 54px;
    margin-top: 120px;
}

.content {
    max-width: 900px;
    margin: auto;
    margin-top: 80px;
}


/* ------- FORMULARIO ---------- */

.formulario {
    padding: 32px 64px;
    margin: auto;
    background-color: #fdcd6f;
    margin-bottom: 32px;
}

.formulario form {
    width: 100%;
}

.formulario label {
    font-size: 32px;
    color: #000000;
    font-family: 'Squada One', cursive;
    display: block;
}

.formulario div {
    margin-bottom: 16px;
}

.formulario div:last-of-type {
    margin-bottom: 0;
}

.formulario input,
.formulario select,
.formulario textarea {
    display: block;
    margin-top: 8px;
    border: none;
    border-radius: 0;
    padding: 8px 16px;
}

.raised,
.half,
.raised select,
.half select {
    width: 100%;
}

.raised input,
.raised textarea,
.half input,
.half textarea {
    width: calc(100% - 32px);
}

.half {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
}

.half label {
    width: calc(100% - 32px);
}

.half label:first-of-type {
    margin-right: 32px;
}

span.mandatory {
    color: red;
}

input.mandatory,
textarea.mandatory,
select.mandatory {
    border: 1px solid red;
}

input.filled,
textarea.filled,
select.filled {
    border: none;
}

span.filled {
    display: none;
}