body {
    background-color: white;
}

.box-login {
    margin: 200px auto;
    width: 300px;
    background-color: #ececec;
    box-shadow: 5px 5px 1px 2px rgba(0, 0, 0, 0.3);
}

.box-login>form>input {
    border: none;
    border-radius: 0.5em;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
    height: 20%;
    width: 90%;
}

.btn-logar {
    margin-left: 10px;
    margin-top: 10px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}

.text-input {
    margin: 5px;
    text-align: start;
    font-size: 12pt;
}

.title {
    font-weight: normal;
    color: black;
    padding-bottom: 16px;
    text-align: start;
    font-size: 25px;
}

.formulario .text-input #txtEmail,
.formulario .text-input #txtSenha {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
}